@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
	font-family:'Bebas Neue', serif;
}

#bandphoto{
	position: relative;
	right: -900px;
	top: -270px;
}

#banner{
	width: 98%;
	height: 400px;
	background-image: url(../images/banner.png);
	background-size:cover;
	border: 20px solid black;
}

#AboutHeader{
	font-size: 50px;
	position: relative;
	right: -20px;
	top: -40px;
}

#AboutBody{
	position: relative;
	right: -20px;
	top: -80px;
}

.center {
  margin: auto;
  width: 60%;
  height: 60px;
  padding: 0px;
  background-color: hotpink;
  border-top: 20px solid black;
  border-left: 20px solid black;
  border-right: 20px solid black;
}

nav ul li{
	color:black;
	font-size: 50px;
	list-style-type:none;
	float: left;
	text-align: center;
	position: relative;
	top: -10px;
}

nav ul li a{
	color:black;
	text-decoration: none;
	margin: 65px;
	border-bottom-width: 10px;
}

nav ul li a:hover{
	color:white;
}

h1{
	text-align: center;
}

footer {
	text-align: center;
	position: relative;
	top: 10px;
}

footer a{
	color: black;
	font-size: 20px;
}

footer a:hover {
	color: white;
}

#BreakLine{
	height: 20px;
	background-color: black;
	margin: auto;
	position: relative;
	top: -60px;
}

#ShopHead{
	font-size: 50px;
}

#form{
	background-color: hotpink;
	width: 70%;
	height: 250px;
	position: relative;
	left: 15%;
	border: 20px solid black;
	text-align: left;

#maintext {
	height: 200px;

}
